
  
  form {
    width: 50%;
    margin: 0 auto;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    background-color: #007e69;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  td {
    padding: 10px;
  }
  
  #col0,
  #col1,
  #col3,
  #col4 {
    width: 20%;
  }
  
  #col2 {
    width: 15%;
  }
  
  #col5 {
    width: 25%;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="radio"] {
    padding: 5px;
    border-radius: 5px;
    background-color: #e6f2ff;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  input[type="button"],
input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
  
  input[type="button"][value="Thêm"] {
    background-color: #0077b6;
    color: #fff;
  }
  
  input[type="button"][value="Xoá"] {
    background-color: #ff8c00;
    color: #fff;
  }
  
  input[type="submit"][value="Lưu"] {
    background-color: #28a745;
    color: #fff;
  }